In [6]:
import pandas as pd
import numpy as np

In [7]:
url = "https://frenzy86.s3.eu-west-2.amazonaws.com/python/data/immobili.csv"

df = pd.read_csv(url)
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.09,1,296,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.9,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.9,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,0.04527,0.0,11.93,0,0.573,6.12,76.7,2.2875,1,273,21.0,396.9,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.9,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.03,80.8,2.505,1,273,21.0,396.9,7.88,11.9
506,is,not,a,ro,ck,et,sc,ie,nce,i,sn,'t,it,?

In [ ]:
df.info()

In [ ]:
df.isnull().sum().sort_values(ascending=False)

In [20]:
df.drop('zn', axis=1, inplace=True)

In [21]:
df.drop('chas', axis=1, inplace=True)

In [22]:

df.rename(columns={'medv': 'price'}, inplace=True)

In [23]:
df

,crim,indus,nox,rm,age,dis,rad,tax,ptratio,b,lstat,price,Total_Zeros,Total_Zeri
0,0.00632,2.31,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0,1,1
1,0.02731,7.07,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6,2,2
2,0.02729,7.07,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7,2,2
3,0.03237,2.18,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4,2,2
4,0.06905,2.18,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,11.93,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4,2,2
502,0.04527,11.93,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6,2,2
503,0.06076,11.93,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9,2,2
504,0.10959,11.93,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0,2,2
505,0.04741,11.93,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9,2,2

In [24]:
df.drop(columns=['Total_Zeros',	'Total_Zeri'], inplace=True)

In [25]:
df

,crim,indus,nox,rm,age,dis,rad,tax,ptratio,b,lstat,price
0,0.00632,2.31,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,7.07,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,7.07,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,2.18,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,2.18,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,11.93,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,11.93,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,11.93,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,11.93,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,11.93,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [28]:
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [30]:
X = df.drop(columns='price')
y = df['price']

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.2, 
                                                    random_state=667)

In [32]:

model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [34]:
model.coef_

array([-9.00568530e-02,  9.02923206e-03, -1.35242519e+01,  3.96657888e+00,
       -3.23292283e-03, -1.15263405e+00,  3.06216895e-01, -1.29373459e-02,
       -1.02998477e+00,  1.02783003e-02, -5.80379035e-01])

In [35]:
model.intercept_

34.83959033136534

In [36]:
y_pred =model.predict(X_test)

In [38]:
r2score = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
print('R2_score: ', r2score)
print('MAE: ', mae)
print('MSE: ', mse)
print('RMSE: ', rmse)

R2_score:  0.6527173304122083
MAE:  3.795199850278584
MSE:  31.065070344611527
RMSE:  5.573604789058113

In [64]:
import joblib
joblib.dump(model,'Nuovomodel.pkl')

['Nuovomodel.pkl']

In [65]:
model_loaded = joblib.load('Nuovomodel.pkl')
model_loaded

LinearRegression()

In [58]:
print('coeficente:' , model_loaded.coef_)

coeficente: [-9.00568530e-02  9.02923206e-03 -1.35242519e+01  3.96657888e+00
 -3.23292283e-03 -1.15263405e+00  3.06216895e-01 -1.29373459e-02
 -1.02998477e+00  1.02783003e-02 -5.80379035e-01]

In [59]:
print('interception:', model_loaded.intercept_)

interception: 34.83959033136534

In [ ]:
# CONFRONTO